<div class="flex justify-center items-center">
    <div id="jsmolApplet" #appletContainer></div>
    <div class="flex items-center justify-center absolute bottom-11 z-99999 bg-white rounded-full h-16 px-2">
        <div class="flex justify-between pr-2">
            <!-- NOTE: I think these have to be done using keyboard hotkeys shift+ drag / shift+cmd + drag etc -->
            <button class="btn btn-ghost rounded-full mx-2">
                <img src="../../../../assets/hand.svg" alt="hand-icon" />
            </button>
            <button class="btn btn-ghost rounded-full mx-2">
                <img src="../../../../assets/rotate.svg" alt="rotate-icon" />
            </button>
        </div>
        <div class="flex justify-between border-l">
            <button class="btn btn-ghost rounded-full mx-2" (click)="zoomOut()">
                <img src="../../../../assets/minus.svg" alt="zoom-out" />
            </button>
            <!-- no way to get zoom value from scroll zoom -->
            <!-- disable zoom makes button zooms not work too -->
            <input type="text" class="w-12" (keyup.enter)="handleZoomInput()" [(ngModel)]="zoomValue" />
            <button class="btn btn-ghost rounded-full mx-2" (click)="zoomIn()">
                <img src="../../../../assets/plus.svg" alt="zoom-in" />
            </button>
        </div>
    </div>
</div>
