<div class="navbar top-0 z-50 px-10 py-2 bg-white">
    <div class="flex-1">
        <a
            class="flex items-center hover:cursor-pointer"
            (click)="onLogoClick()"
            (keydown.enter)="onLogoClick()"
            tabindex="0"
        >
            <img src="../../../../assets/logo.svg" alt="logo" />
            <span class="font-semibold text-xl tracking-tight ml-2">Molmaker</span>
        </a>
    </div>

    <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <div class="flex justify-center items-center">
            <!-- NOTE: how to handle help icon -->
            <div class="px-1">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <div class="indicator">
                        <img src="../../../../assets/help-circle.svg" alt="help-circle-icon" />
                    </div>
                </label>
            </div>
            <div class="dropdown dropdown-end px-1">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <div class="indicator">
                        <img src="../../../../assets/bell-icon.svg" alt="bell-icon" />
                        <!-- NOTE: fetch number to display for notification -->
                        <span class="badge badge-sm indicator-item">1</span>
                    </div>
                </label>
                <!-- NOTE: fetch notifications to display -->
                <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-96 bg-white shadow">
                    <div class="card-body">
                        <span class="text-gray-500">Job 1 is completed</span>
                    </div>
                </div>
            </div>
            <!-- dropdown -->
            <div class="dropdown dropdown-end ml-3" *ngIf="user$ | async as user">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img [src]="user.picture" alt="profile-picture" />
                    </div>
                </label>
                <div tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white rounded-box w-52">
                    <div class="flex flex-col justify-start px-3 py-1 my-1 border-b">
                        <p class="text-gray-700">{{ user.name }}</p>
                        <p class="text-gray-500">{{ user.email }}</p>
                    </div>

                    <div class="flex flex-col py-1 my-1 border-b">
                        <li>
                            <span class="" routerLink="/profile"
                                ><img src="../../../../assets/profile-icon.svg" alt="profile-icon" /> Profile
                            </span>
                        </li>
                        <li>
                            <span routerLink="/settings"
                                ><img src="../../../../assets/settings-icon.svg" alt="settings-icon" /> Settings</span
                            >
                        </li>
                    </div>
                    <div class="flex flex-col py-1">
                        <li>
                            <span (click)="handleLogout()" (keydown.enter)="handleLogout()" tabindex="0"
                                ><img src="../../../../assets/log-out-icon.svg" alt="log-out-icon" /> Logout</span
                            >
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #loggedOut>
        <button class="btn-sm rounded-full btn-primary mr-2" (click)="handleLogin()">Log In</button>
        <button class="btn-sm rounded-full btn-secondary" (click)="handleSignUp()">Sign Up</button>
    </ng-template>
</div>
