.nav-bar__tab--active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--indigo);

    /* responsive */

    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}
